.navbar-back {
    background-color: rgb(0, 0, 255) !important;
    color: black !important;
}

body {
    background-color: rgba(0, 0, 255, 0.453) !important;
}
.bg{
    background-color: rgba(200, 0, 255, 0.453);
}